In [1]:
import pandas as pd

In [3]:
house=pd.read_csv('/content/housing.csv')
print(house.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [4]:
print(house.dtypes)
print("shape",house.shape)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object
shape (20640, 10)

In [21]:
h=house.drop('ocean_proximity',axis=1)

In [23]:
print(h.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [36]:
t=h['total_bedrooms'].isnull().sum()/h.shape[0]

In [26]:
y=h['median_house_value']
x=h.drop('median_house_value',axis=1)

In [47]:
x=x.fillna(0)

In [48]:
print(x)
print(y)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income
0           322.0       126.0         8.3252
1          2401.0      1138.0         8.3014
2           496.0       177.0         7.2574
3           558.0       219.0         5.6431
4           565.0       259.0         3.8462
...           ...         ...            ...
20635       845.0       330.0         1.5603
20636       356.0       114.0         2.5568
20637      1007.0       433.0         1.7000
20638       741.0       349.0         1.8672
20639      1387.0       530.0         2.3886

[20640 rows x 8 columns]
0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split

In [62]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [63]:
print(x_train.isnull())

print(x_train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
14196      False     False               False        False           False
8267       False     False               False        False           False
17445      False     False               False        False           False
14265      False     False               False        False           False
2271       False     False               False        False           False
...          ...       ...                 ...          ...             ...
11284      False     False               False        False           False
11964      False     False               False        False           False
5390       False     False               False        False           False
860        False     False               False        False           False
15795      False     False               False        False           False

       population  households  median_income
14196       False       False          False
8267        False       False          False
17445       False       False          False
14265       False       False          False
2271        False       False          False
...           ...         ...            ...
11284       False       False          False
11964       False       False          False
5390        False       False          False
860         False       False          False
15795       False       False          False

[16512 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
14196    -117.03     32.71                33.0       3126.0           627.0
8267     -118.16     33.77                49.0       3382.0           787.0
17445    -120.48     34.66                 4.0       1897.0           331.0
14265    -117.11     32.69                36.0       1421.0           367.0
2271     -119.80     36.78                43.0       2382.0           431.0
...          ...       ...                 ...          ...             ...
11284    -117.96     33.78                35.0       1330.0           201.0
11964    -117.43     34.02                33.0       3084.0           570.0
5390     -118.38     34.03                36.0       2101.0           569.0
860      -121.96     37.58                15.0       3575.0           597.0
15795    -122.42     37.77                52.0       4226.0          1315.0

       population  households  median_income
14196      2300.0       623.0         3.2596
8267       1314.0       756.0         3.8125
17445       915.0       336.0         4.1563
14265      1418.0       355.0         1.9425
2271        874.0       380.0         3.5542
...           ...         ...            ...
11284       658.0       217.0         6.3700
11964      1753.0       449.0         3.0500
5390       1756.0       527.0         2.9344
860        1777.0       559.0         5.7192
15795      2619.0      1242.0         2.5755

[16512 rows x 8 columns]

In [64]:
print(x_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
20046    -119.01     36.06                25.0       1505.0        0.010029
3024     -119.46     35.14                30.0       2943.0        0.010029
15663    -122.44     37.80                52.0       3830.0        0.010029
20484    -118.72     34.28                17.0       3051.0        0.010029
9814     -121.93     36.62                34.0       2351.0        0.010029
...          ...       ...                 ...          ...             ...
15362    -117.22     33.36                16.0       3165.0      482.000000
16623    -120.83     35.36                28.0       4323.0      886.000000
18086    -122.05     37.31                25.0       4111.0      538.000000
2144     -119.76     36.77                36.0       2507.0      466.000000
3665     -118.37     34.22                17.0       1787.0      463.000000

       population  households  median_income
20046      1392.0       359.0         1.6812
3024       1565.0       584.0         2.5313
15663      1310.0       963.0         3.4801
20484      1705.0       495.0         5.7376
9814       1063.0       428.0         3.7250
...           ...         ...            ...
15362      1351.0       452.0         4.6050
16623      1650.0       705.0         2.7266
18086      1585.0       568.0         9.2298
2144       1227.0       474.0         2.7850
3665       1671.0       448.0         3.5521

[4128 rows x 8 columns]

In [65]:
print(y_train)

14196    103000.0
8267     382100.0
17445    172600.0
14265     93400.0
2271      96500.0
           ...
11284    229200.0
11964     97800.0
5390     222100.0
860      283500.0
15795    325000.0
Name: median_house_value, Length: 16512, dtype: float64

In [66]:
print(y_test)

20046     47700.0
3024      45800.0
15663    500001.0
20484    218600.0
9814     278000.0
           ...
15362    263300.0
16623    266800.0
18086    500001.0
2144      72300.0
3665     151500.0
Name: median_house_value, Length: 4128, dtype: float64

In [67]:
from sklearn.preprocessing import MinMaxScaler

In [68]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

In [86]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [87]:
from sklearn.metrics import mean_absolute_error

In [71]:
yp=model.predict(x_test)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [72]:
print(mean_absolute_error(y_test,yp))

2230683674.3994303

In [78]:
yc=model.predict(x_train)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [82]:
print(mean_absolute_error(y_train,yc))

2224187445.630262

In [83]:
from sklearn.metrics import mean_squared_error

In [88]:
print(mean_squared_error(y_test,yp))

8.1910258093998e+18

In [89]:
print(mean_squared_error(y_train,yc))

8.214530218715092e+18

In [91]:
print(model.intercept_)

362842.54408139596

In [92]:
print(model.coef_)

[ -428029.21283376  -399030.67551688    60323.29209313  -321934.88277872
   749180.26280705 -1373363.67231175   281809.1800776    587814.97129726]